* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

/* --------------------------------------------------header------------------------------------- */

header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #f7cdd1;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.logo {
  font-size: 30px;
}
.logo-span {
  color: #549854;
  font-weight: bolder;
}
.titles {
  /* background-color: blue; */
  height: 70px;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  font-weight: bolder;
}
.titles a {
  text-decoration: none;
  color: purple;
}
.titles a:hover {
  font-size: 24px;
  color: green;
}

#product-input {
  width: 250px;
  height: 36px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding-left: 1rem;
}
#product-input:focus {
  outline: 3px solid #a5d2cd;
}
#product-search {
  width: 65px;
  height: 36px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: purple;
}
#product-search:hover {
  border: 3px solid #a5d2cd;
  font-size: 19px;
}

/* -------------------------------body------------------------------------------- */
.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  height: 500px;
  /* background-color: green; */
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.pname {
  font-size: 34px;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.box {
  display: flex;
  margin-top: 0.5rem;
  gap: 9rem;
  /* background-color: blue; */
  width: 3000px;
  height: 390px;
}

.card {
  border: none;
  width: 400px;
  border-radius: 3%;
  background-color: #a5d2cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 3px 3px 5px #f7cdd1;
  font-size: 18px;
}

.card .imageBox {
  width: 370px;
  height: 250px;
  /* background: #f7cdd1; */
}
.imageBox img {
  width: 370px;
  height: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.shoeName {
  font-weight: bolder;
}
.card p {
  margin-top: 0.5rem;
}

/*------------------------------ footer------------------------------------------- */

.baseDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: #272829;
  color: white;
}

.other-details {
  display: flex;
  height: 250px;
  width: 900px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#your-name {
  font-size: 30px;
  font-weight: bold;
}
#about-this-page {
  text-align: justify;
}
.icons {
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-size: 24px;
}
.icons a {
  color: white;
}
.icons a:hover {
  font-size: 25px;
  color: #f7cdd1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: black;
}
